{% extends 'base.html.twig' %}

{% block title %}Modifier la salle{% endblock %}

{% block body %}
  
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8" style="width: 100%;">
        <div class="card">
        
         
            <h1 class="edit-salle-title">Modifier la salle</h1>
    {% if form is defined %}
       {# Ajoutez le path de modification avec l'ID de la salle ici #}
       <form action="{{ path('app_salle_edit', {'idSalle': salle.idSalle}) }}" method="POST" class="modal-form" style="font-family: 'Nunito', sans-serif;">
       
       {{ form_start(form) }}

<style>
  .modal-form input,
  .modal-form select,
  .modal-form textarea {
    font-family: "Nunito", sans-serif !important;
    width: 100% !important;
    font-size: 12px !important;
    padding: 6px !important;
    margin-bottom: 15px !important;
    transition: all 0.3s ease-in-out !important;
  }
   .edit-salle-title {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 200;
    line-height: 1.4;
    margin: 20px 0 30px 0;
    color: #CBA979;
  }

</style>

{{ form_row(form.nomSalle, {'attr': {'style': 'font-size: 14px;'}}) }}
{{ form_row(form.capacite, {'attr': {'style': 'font-size: 14px;'}}) }}
{{ form_row(form.equipement, {'attr': {'style': 'font-size: 14px;'}}) }}
{{ form_row(form.imageFile, {'attr': {'style': 'font-size: 14px;'}}) }}
{{ form_row(form.locationSalle, {'attr': {'style': 'font-size: 14px;'}}) }}
{{ form_row(form.qualite, {'attr': {'style': 'font-size: 14px;'}}) }}
{{ form_row(form.prix, {'attr': {'style': ' font-size: 14px;'}}) }}

<button type="submit" 
        style="background: #CBA979;
               color: white;
               border: 2px solid #CBA979;
               padding: 10px 20px;
               cursor: pointer;
               font-family: 'Nunito', sans-serif;
               font-size: 20px;
               width: 100%;
               transition: all 0.3s ease;
               margin-top: 15px;"
        onmouseover="this.style.backgroundColor='#CBA979'; this.style.color='white'"
        onmouseout="this.style.backgroundColor='transparent'; this.style.color='#CBA979'">
    Enregistrer
</button>

{{ form_end(form) }}
    {% else %}
        <div class="alert alert-danger">
            Le formulaire n'est pas disponible. Contactez l'administrateur.
        </div>
    {% endif %}
  </div>




  
</section>

{% endblock %}

