<<<<<<< HEAD
{{ form_start(form) }}
=======
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
>>>>>>> 6ab9b1d (Initial commit)
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
