<<<<<<< HEAD
<<<<<<< HEAD
=======
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
=======
<<<<<<< HEAD
>>>>>>> Salles
{{ form_start(form) }}
=======
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
>>>>>>> 6ab9b1d (Initial commit)
<<<<<<< HEAD
=======
>>>>>>> c139a4e (Résolution des conflits)
>>>>>>> Salles
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
